.countdownContainer {
	display: flex;
	align-items: center;

	font-family: Rajdhani;
	font-weight: 600;
	color: var(--title);
}

.countdownContainer > div {
	flex: 1;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	background: var(--white);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	border-radius: 5px;

	font-size: 8.5rem;
	text-align: center;
}

.countdownContainer > div span {
	flex: 1;
}

.countdownContainer > span {
	font-size: 6.25rem;
	margin: 0 0.5rem;
}

.countdownContainer > div span:first-child {
	border-right: 1px solid #f0f1f3;
}

.countdownContainer > div span:last-child {
	border-left: 1px solid #f0f1f3;
}
